<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Universal | Appointments </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <%- include('includes/head') %>
</head>
 

<body>
    <div>
        <div class="flex">
            <%- include('includes/side-bar') %>

                <div class="pages">
                    <div>
                        <%- include('includes/header') %>
                    </div>
                    <!-- Page Content -->
                    <div class="p-5 mt-5">
                        <div>
                            <div class="flex items-center justify-between">
                                <h3 class="text-2xl font-bold">Appointments List</h3>
                                <div>
                                    <a href="/admin/add-modal" class="p-3 pl-3 bg-sky-400 rounded-[10px] text-white"></a>
                                </div>
                            </div>
                            <div class="mt-8">
                                <div class="overflow-x-auto">
                                    <table class="w-[100%]">
                                        <thead class="bg-gray-100 border-b-[2px]">
                                            <tr>
                                                <th class="p-3 text-left whitespace-nowrap">Sr.No</th>
                                                <th class="p-3 text-left whitespace-nowrap">Manufacture</th>
                                                <th class="p-3 text-left whitespace-nowrap">Car Model</th>
                                                <th class="p-3 text-left whitespace-nowrap">Generation</th>
                                                <th class="p-3 text-left whitespace-nowrap">Services</th>
                                                <th class="p-3 text-left whitespace-nowrap">Service Date</th>
                                                <th class="p-3 text-left whitespace-nowrap">Service Time</th>
                                                <th class="p-3 text-left whitespace-nowrap">Name</th>
                                                <th class="p-3 text-left whitespace-nowrap">Email</th>
                                                <th class="p-3 text-left whitespace-nowrap">Phone</th>
                                                <th class="p-3 text-left whitespace-nowrap">Address</th>
                                                <th class="p-3 text-left whitespace-nowrap">Message</th>
                                                <th class="p-3 text-left whitespace-nowrap">Created At</th>
                                                <th class="p-3 text-left whitespace-nowrap">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% appoinments_data.map((data, index) => { %>
                                                <tr>
                                                    <td class="p-3 px-3 whitespace-nowrap"><%= index + 1 %></td>
                                                    <td class="p-3 px-3 whitespace-nowrap"><%= data.manufacturer %></td>
                                                    <td class="p-3 px-3 whitespace-nowrap"><%= data.car_model %></td>
                                                    <td class="p-3 px-3 whitespace-nowrap"><%= data.generation %></td>
                                                    <td class="p-3 px-3 whitespace-nowrap font-[500]"><%= data.services %></td>
                                                    <td class="p-3 px-3 whitespace-nowrap"><%= data.service_date %></td>
                                                    <td class="p-3 px-3 whitespace-nowrap"><%= data.service_time %></td>
                                                    <td class="p-3 px-3 whitespace-nowrap"><%= data.name %></td>
                                                    <td class="p-3 px-3 whitespace-nowrap"><%= data.email %></td>
                                                    <td class="p-3 px-3 whitespace-nowrap"><%= data.phone %></td>
                                                    <td class="p-3 px-3 whitespace-nowrap"><%= data.address %></td>
                                                    <td class="p-3 px-3 whitespace-nowrap"><%= data.message %></td>
                                                    <td class="p-3 px-3 whitespace-nowrap">
                                                        <%= (() => {
                                                          let date = new Date(data.created_at);
                                                          return `${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}`;
                                                        })() %>
                                                      </td>
                                                      
                                                    <td></td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>

</html>