<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List | Alfamenswear </title>
    <%- include('includes/head') %>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div>
        <div class="flex">
            <%- include('includes/side-bar') %>

                <div class="pages">
                    <div>
                        <%- include('includes/header') %>
                    </div>
                    <!-- Page Content -->
                    <div class="p-5 mt-5">
                        <div>
                            <div class="flex items-center justify-between">
                                <h3 class="text-2xl font-bold">Product List</h3>
                                <div>
                                    <a href="/admin/add-product" class="p-3 pl-3 bg-sky-400 rounded-[10px] text-white">Add Product</a>
                                </div>
                            </div>
                            <div class="mt-8">
                                <div class="overflow-x-auto">
                                    <table id="dataTable" class="w-[100%]">
                                        <thead class="bg-gray-100 border-b-[2px]">
                                            <tr>
                                                <th class="p-3 text-left">Sr.No</th>
                                                <th class="p-3 text-left">Cat Name</th>
                                                <th class="p-3 text-left">Type</th>
                                                <th class="p-3 text-left">Product Name</th>
                                                <th class="p-3 text-left">Price</th>
                                                <th class="p-3 text-left">Title</th>
                                                <th class="p-3 text-left">Images</th>
                                                <th class="p-3 text-left">Brand</th>
                                                <th class="p-3 text-left">Colour</th>
                                                <th class="p-3 text-left">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% proData.forEach((data,index) =>{ %>        
                                                <tr>
                                                    <td class="p-3 px-3"><%= index + 1 %></td>
                                                    <td class="p-3 px-3"><%= data.cat_name %></td>
                                                    <td class="p-3 px-3"><%= data.type %></td>
                                                    <td class="p-3 px-3"><%= data.p_name %></td>
                                                    <td class="p-3 px-3"><%= data.p_main_price %></td>
                                                    <td class="p-3 px-3"><%= data.p_title %></td>
                                                    <td class="p-3 px-3"><img src="<%= data.p_image %>" class="w-[60px] h-[60px] object-cover" alt=""></td>
                                                    <td class="p-3 px-3"><%= data.brand %></td>
                                                    <td class="p-3 px-3"><%= data.colour %></td>
                                                    <td class="p-3 px-3 flex">
                                                        <a id="<%= data.id %>" class="delete-product" >
                                                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                                                            <path fill="#f41010" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zm2-4h2V8H9zm4 0h2V8h-2z"/>
                                                          </svg>
                                                        </a>
                                                        <a href="/admin/edit-product/<%= data.id %>">
                                                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                                                            <g fill="none" stroke="#45a16d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                              <path d="M7 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-1"/>
                                                              <path d="M20.385 6.585a2.1 2.1 0 0 0-2.97-2.97L9 12v3h3zM16 5l3 3"/>
                                                            </g>
                                                          </svg>
                                                        </a>
                                                      </td>
                                                </tr>
                                        <%  }) %>        
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <%- include('includes/foot') %>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                paging: true,            
                searching: true,     
                ordering: true,           
                lengthChange: true,       
                pageLength: 10,          
                columnDefs: [
                { orderable: false, targets: [6, 9] }
                ],
                language: {
                search: "", 
                },
            });
        });

        $(document).on("click", ".delete-product", function (e) {
            e.preventDefault();
            var cart_id = $(this).attr("id");
            alertify.confirm("Are You Sure Want to Delete this Item?")
            .set("onok", function (closeEvent) {
                // Make the AJAX call
                $.ajax({
                type: "POST",
                url: "/api/deleteproduct",
                contentType: "application/json",
                data: JSON.stringify({ cart_id: cart_id }),
                success: function (response) {
                    alertify.set("notifier", "position", "top-center");
                    alertify.success(response.message);
                    setTimeout(function () {
                    window.location.reload();
                    }, 1000);
                },
                error: function (xhr) {
                    alertify.error("An error occurred while deleting the item.");
                    console.error(xhr.responseText);
                }
                });
            })
            .set({
                title: "Delete Item"
            });
        });

     </script>
</body>

</html>