<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Blogs</title>
    <meta name="robots" content="noindex">
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
            <div class="mt-100">
                <div class="product-banner">
                    <div class="container">
                        <div class="hero-product-rows">
                            <div class="product-col-6">
                                <div class="breadcrubm-text">
                                    <h2>Blogs</h2>
                                </div>
                            </div>
                         </div>
                    </div>
                  </div>
                <div class="checkout-wrapper margin-160 margin-190">
                    <div class="container">
                        <div class="row">
                            <!-- <div class="col-md-12">
                                <div class="alfa-blog-wrapper">
                                    <div class="blog-left-wrap">
                                        <div class="blog-left-top">
                                            <div class="blog-tag">Fashion</div>
                                            <div class="blog-date">20 June 2024</div>
                                        </div>
                                        <div class="blog-middle-wrap">
                                            <div class="blog-title-content">
                                                <h3>New Fashion Menswear Jeans</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin sit amet purus sit amet varius. </p>
                                            </div>
                                            <div class="blog-read-more">
                                                <a href="/blog-detail" class="read-more-btn">Read More </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-right-wrap">
                                        <div class="blog-image">
                                            <img src="assets/images/about-us.png" width="100%" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <% blogData.forEach(blog => { %>
                                <div class="col-md-12">
                                  <div class="alfa-blog-wrapper">
                                    <div class="blog-left-wrap">
                                      <div class="blog-left-top">
                                        <div class="blog-tag"><%= blog.tag %></div>
                                        <div class="blog-date"><%= new Date(blog.date).toLocaleDateString() %></div>
                                      </div>
                                      <div class="blog-middle-wrap">
                                        <div class="blog-title-content">
                                          <h2><%= blog.title %></h2>
                                          <%= blog.content.split(' ').slice(0, 40).join(' ') %>...
                                        </div>
                                        <div class="blog-read-more">
                                          <a href="/blog-detail/<%= blog.slug_name%>" class="read-more-btn">Read More </a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="blog-right-wrap">
                                      <div class="blog-image">
                                        <img src="./blog_images/<%= blog.image_path %>" alt="<%= blog.title %>">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <% }); %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <%- include('includes/footer') %>
            <!-- End -->
    </div>
    <%- include('includes/foot') %>

</body>

</html>