<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Alfa Meanswear | Home</title>
  <meta name="robots" content="noindex">
  <%- include('includes/head') %>
</head>

<body>
  <!-- Loader -->
  <div class="page-loader" id="loader">
    <div class="spinner">
      <div class="inner"></div>
    </div>
  </div>
 
  <div class="alfa-main-wraper" id="web-content">
    <%- include('includes/header') %>
      <div class="mt-100 mt-700 banner-bottom">
        <!-- HERO SECTION -->
        <section class="hero-section position-relative">
          <div id="hero-carousel" class="owl-carousel comman-nav">
            <div class="items hero-sec-items" style="background-color: #eef0ff;">
              <div class="container">
                <div class="row position-relative" style="z-index: 999;">
                  <div class="col-md-6">
                    <div class="alfa-hero-left-wrapper">
                      <div class="alfa-text">
                        <h6><span> </span> menswear </h6>
                      </div>
                      <div class="alfa-main-title">
                        <h1>Alfa Menswear <br> Accessories</h1>
                      </div>
                      <div class="alfa-discover-btn">
                        <a href="/products/accessories" class="alfa-btn">Discover Now <img src="assets/images/arrow-right.png" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 hero-image-center">
                    <div class="alfa-banners">
                      <div class="alfa-circle">
                        <img src="https://res.cloudinary.com/dvzfuapyy/image/upload/v1735060344/Ellipse_29_n0gsfs.png" alt="">
                      </div>
                      <div class="alfa-main-image">
                        <img src="assets/images/hero.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <div class="items hero-sec-items" style="background-color: #edeef0;">
              <div class="container">
                <div class="row position-relative" style="z-index: 999;">
                  <div class="col-md-6">
                    <div class="alfa-hero-left-wrapper">
                      <div class="alfa-text">
                        <h6><span> </span> menswear </h6>
                      </div>
                      <div class="alfa-main-title">
                        <h1>Stylish Jeans<br> for Men</h1>
                      </div>
                      <div class="alfa-discover-btn">
                        <a href="/product" class="alfa-btn">Discover Now <img src="assets/images/arrow-right.png" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 hero-image-center">
                    <div class="alfa-banners alfa-banners2">
                      <div class="alfa-circle">
                        <img src="https://res.cloudinary.com/dvzfuapyy/image/upload/v1735061533/Ellipse_30_biyhjk.png" alt="">
                      </div>
                      <div class="alfa-main-image">
                        <img src="https://res.cloudinary.com/dvzfuapyy/image/upload/v1735060454/4_rgnu0g.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
        </div>
             </div>
        </section>
        <!-- END -->
        <!-- FEATURES START -->
        <div class="hero-meanswear d-none">
          <h2>Menswear</h2>
        </div>
        </section>
        <!-- END -->
        <!-- FEATURES SECTION -->
        <section class="feature-section mt-80">
          <div class="custom-container">
            <div class="features-row">
              <div class="feature-box">
                <div class="feature-icon">
                   <svg width="46" height="33" viewBox="0 0 46 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M38.2479 32.1436C35.9019 32.1436 33.9824 30.2256 33.9824 27.8815C33.9824 26.745 34.409 25.6795 35.191 24.8981C35.973 24.0457 37.1104 23.6195 38.2479 23.6195C40.5939 23.6195 42.5133 25.5374 42.5133 27.8815C42.5133 30.2256 40.5939 32.1436 38.2479 32.1436ZM38.2479 25.0402C37.4659 25.0402 36.6839 25.3243 36.1862 25.8926C35.6886 26.3898 35.4042 27.1002 35.4042 27.8815C35.4042 29.4443 36.6839 30.7229 38.2479 30.7229C39.8119 30.7229 41.0915 29.4443 41.0915 27.8815C41.0915 26.3188 39.8119 25.0402 38.2479 25.0402Z" fill="#005D67" stroke="#005D67" stroke-width="0.5"/>
                    <path d="M44.3628 27.9522H41.7324V26.5315H43.6519V20.9198H14.789V26.5315H34.6944V27.9522H14.0781C13.8648 27.9522 13.7226 27.8811 13.5805 27.7391C13.4383 27.597 13.3672 27.4549 13.3672 27.2418V20.2095C13.3672 19.7833 13.6516 19.4991 14.0781 19.4991H44.3628C44.5761 19.4991 44.7182 19.5702 44.8604 19.7122C45.0026 19.8543 45.0737 19.9964 45.0737 20.2095V27.2418C45.0737 27.668 44.7893 27.9522 44.3628 27.9522Z" fill="#005D67" stroke="#005D67" stroke-width="0.5"/>
                    <path d="M7.96467 32.1436C5.61867 32.1436 3.69922 30.2256 3.69922 27.8815C3.69922 25.5374 5.61867 23.6195 7.96467 23.6195C10.3107 23.6195 12.2301 25.5374 12.2301 27.8815C12.2301 29.0181 11.8036 30.0836 11.0216 30.865C10.1685 31.7174 9.10212 32.1436 7.96467 32.1436ZM7.96467 25.0402C6.40067 25.0402 5.12103 26.3188 5.12103 27.8815C5.12103 29.4443 6.40067 30.7229 7.96467 30.7229C8.74667 30.7229 9.45757 30.4387 10.0263 29.8705C10.5239 29.3022 10.8083 28.6629 10.8083 27.8815C10.8083 26.3188 9.52867 25.0402 7.96467 25.0402Z" fill="#005D67" stroke="#005D67" stroke-width="0.5"/>
                    <path d="M14.0799 27.9526H11.3785V26.5319H13.369L13.4401 6.35831H8.17939L2.49213 12.112V26.6029H4.41158V28.0236H1.78122C1.35468 28.0236 1.07031 27.7395 1.07031 27.3133V11.8279C1.07031 11.6148 1.1414 11.4727 1.28358 11.3307L7.39739 5.22177C7.53958 5.0797 7.68176 5.00867 7.89503 5.00867H14.151C14.3643 5.00867 14.5065 5.0797 14.6487 5.22177C14.7908 5.36384 14.8619 5.5059 14.8619 5.719L14.7908 27.3133C14.7908 27.6684 14.5065 27.9526 14.0799 27.9526Z" fill="#005D67" stroke="#005D67" stroke-width="0.5"/>
                    <path d="M10.9509 16.3734H4.90817C4.48163 16.3734 4.19727 16.0893 4.19727 15.6631V12.7507C4.19727 12.5376 4.26836 12.3955 4.41054 12.2535L8.6049 8.20456C8.74708 8.06249 8.88926 7.99146 9.10253 7.99146H10.9509C11.3774 7.99146 11.6618 8.27559 11.6618 8.70179V15.6631C11.6618 16.0893 11.3774 16.3734 10.9509 16.3734ZM5.61908 14.9528H10.24V9.41213H9.38689L5.61908 13.0349V14.9528Z" fill="#005D67" stroke="#005D67" stroke-width="0.5"/>
                    <path d="M44.3628 20.9203H14.0781C13.8648 20.9203 13.7226 20.8492 13.5805 20.7072C13.4383 20.5651 13.3672 20.423 13.3672 20.2099V1.24391C13.3672 0.817704 13.6516 0.533569 14.0781 0.533569H44.3628C44.7893 0.533569 45.0737 0.817704 45.0737 1.24391V20.2099C45.0737 20.6361 44.7893 20.9203 44.3628 20.9203ZM14.789 19.4996H43.6519V1.95424H14.8601L14.789 19.4996Z" fill="#005D67" stroke="#005D67" stroke-width="0.5"/>
                    </svg>
                  </div>
                <div class="features-content">
                  <h5>Free Shipping</h5>
                  <p>From all orders over £100</p>
                </div>
              </div>
              <div class="feature-box">
                <div class="feature-icon">
                 <svg width="48" height="35" viewBox="0 0 48 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M44.8813 0.684814H36.2599H23.8666H15.2452C14.0565 0.684814 13.0898 1.65149 13.0898 2.84017V32.4763C13.0898 33.665 14.0565 34.6317 15.2452 34.6317H23.8666H36.2599H44.8813C46.07 34.6317 47.0367 33.665 47.0367 32.4763V2.84017C47.0367 1.65149 46.07 0.684814 44.8813 0.684814ZM34.6434 2.30133V6.88146C34.6434 7.17836 34.402 7.4203 34.1046 7.4203H26.022C25.7245 7.4203 25.4831 7.17836 25.4831 6.88146V2.30133H34.6434ZM25.4831 33.0151V28.435C25.4831 28.1376 25.7245 27.8962 26.022 27.8962H34.1046C34.402 27.8962 34.6434 28.1376 34.6434 28.435V33.0151H25.4831ZM45.4202 32.4763C45.4202 32.7737 45.1788 33.0151 44.8813 33.0151H36.2599V28.435C36.2599 27.2463 35.2932 26.2797 34.1046 26.2797H26.022C24.8333 26.2797 23.8666 27.2463 23.8666 28.435V33.0151H15.2452C14.9483 33.0151 14.7064 32.7737 14.7064 32.4763V2.84017C14.7064 2.54327 14.9483 2.30133 15.2452 2.30133H23.8666V6.88146C23.8666 8.07014 24.8333 9.03681 26.022 9.03681H34.1046C35.2932 9.03681 36.2599 8.07014 36.2599 6.88146V2.30133H44.8813C45.1788 2.30133 45.4202 2.54327 45.4202 2.84017V32.4763Z" fill="#005D67"/>
                  <path d="M11.2008 11.4613H1.77115C1.32445 11.4613 0.962891 11.8229 0.962891 12.2696C0.962891 12.7163 1.32445 13.0778 1.77115 13.0778H11.2008C11.6475 13.0778 12.0091 12.7163 12.0091 12.2696C12.0091 11.8229 11.6475 11.4613 11.2008 11.4613Z" fill="#005D67"/>
                  <path d="M11.2 16.8499H4.46451C4.01781 16.8499 3.65625 17.2114 3.65625 17.6581C3.65625 18.1048 4.01781 18.4664 4.46451 18.4664H11.2C11.6467 18.4664 12.0082 18.1048 12.0082 17.6581C12.0082 17.2114 11.6467 16.8499 11.2 16.8499Z" fill="#005D67"/>
                  <path d="M11.2011 22.2385H7.15982C6.71312 22.2385 6.35156 22.6006 6.35156 23.0468C6.35156 23.4929 6.71312 23.855 7.15982 23.855H11.2011C11.6478 23.855 12.0094 23.4929 12.0094 23.0468C12.0094 22.6006 11.6478 22.2385 11.2011 22.2385Z" fill="#005D67"/>
                  <path d="M40.8367 22.2385H34.1012C33.6551 22.2385 33.293 22.6006 33.293 23.0468C33.293 23.4929 33.6551 23.855 34.1012 23.855H40.8367C41.2829 23.855 41.645 23.4929 41.645 23.0468C41.645 22.6006 41.2829 22.2385 40.8367 22.2385Z" fill="#005D67"/>
                  <path d="M40.0605 15.7385C39.7448 15.4228 39.2334 15.4228 38.9176 15.7385L37.5705 17.0856C37.5253 17.1309 37.5005 17.1869 37.4687 17.2392C37.4364 17.1869 37.4121 17.1309 37.3669 17.0856L36.0198 15.7385C35.704 15.4228 35.1926 15.4228 34.8769 15.7385L33.5298 17.0856C33.214 17.4008 33.214 17.9133 33.5298 18.2285C33.6877 18.3864 33.8946 18.4651 34.1015 18.4651C34.2955 18.4651 34.4868 18.3891 34.6403 18.2501V20.3515C34.6403 20.7977 35.0024 21.1598 35.4486 21.1598C35.8947 21.1598 36.2568 20.7977 36.2568 20.3515V18.2506C36.4104 18.3902 36.6017 18.4656 36.7957 18.4656C37.0026 18.4656 37.2095 18.3869 37.3674 18.229C37.4127 18.1838 37.4374 18.1277 37.4692 18.0755C37.5016 18.1277 37.5258 18.1838 37.5711 18.229C37.729 18.3869 37.9359 18.4656 38.1428 18.4656C38.3368 18.4656 38.5281 18.3896 38.6816 18.2506V20.3515C38.6816 20.7977 39.0437 21.1598 39.4899 21.1598C39.936 21.1598 40.2981 20.7977 40.2981 20.3515V18.2506C40.4517 18.3902 40.643 18.4656 40.837 18.4656C41.0439 18.4656 41.2508 18.3869 41.4087 18.229C41.7244 17.9138 41.7244 17.4014 41.4087 17.0862L40.0605 15.7385Z" fill="#005D67"/>
                  </svg>
   
                </div>
                <div class="features-content">
                  <h5>Quality Support</h5>
                  <p>24/7 online feedback</p>
                </div>
              </div>
              <div class="feature-box">
                <div class="feature-icon">
               <svg width="44" height="42" viewBox="0 0 44 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.372 13.8136C13.8436 14.0185 14.3729 13.9235 14.7472 13.5719L14.7479 13.5713L17.3864 11.075L20.026 13.5721L20.0264 13.5725C20.2677 13.7996 20.5754 13.92 20.892 13.92C21.0633 13.92 21.2361 13.8849 21.4008 13.8135M13.372 13.8136C13.3719 13.8135 13.3718 13.8135 13.3717 13.8134L13.4714 13.5842M13.372 13.8136C13.3721 13.8136 13.3722 13.8136 13.3722 13.8137L13.4714 13.5842M13.372 13.8136C12.9028 13.6107 12.6094 13.1632 12.6094 12.652V2.10288C12.6094 1.73439 12.9079 1.43616 13.2761 1.43616H21.4967C21.8648 1.43616 22.1634 1.73436 22.1634 2.10288V12.6519C22.1634 13.163 21.8702 13.6107 21.4008 13.8135M13.4714 13.5842C13.8505 13.749 14.2737 13.6737 14.576 13.3897L13.4714 13.5842ZM21.4008 13.8135C21.4008 13.8135 21.4009 13.8134 21.401 13.8134L21.3014 13.5841L21.4005 13.8136C21.4006 13.8136 21.4007 13.8135 21.4008 13.8135ZM13.9428 2.76961H13.6928V12.6519C13.6928 12.756 13.7614 12.8016 13.8022 12.8192C13.8358 12.8338 13.9231 12.8595 14.0045 12.7834L13.88 12.6519L13.8768 12.6484L13.876 12.6476L13.8326 12.6018L13.8337 12.6008L13.9428 12.4975V2.76961ZM13.9428 2.76961H20.83" fill="#005D67" stroke="#005D67" stroke-width="0.5"/>
                <path d="M18.0483 10.1542V10.1541V7.04807C18.0483 6.67959 17.7498 6.38135 17.3816 6.38135C17.0134 6.38135 16.7148 6.67959 16.7148 7.04807V10.1541C16.7148 10.5226 17.0135 10.8208 17.3816 10.8208C17.7497 10.8208 18.0482 10.5225 18.0483 10.1542Z" fill="#005D67" stroke="#005D67" stroke-width="0.5"/>
                <path d="M5.53586 24.4068H13.5013C13.8694 24.4068 14.1681 24.1086 14.1681 23.7401C14.1681 23.3716 13.8694 23.0734 13.5013 23.0734H5.53586C5.16768 23.0734 4.86914 23.3716 4.86914 23.7401C4.86914 24.1086 5.1678 24.4068 5.53586 24.4068Z" fill="#005D67" stroke="#005D67" stroke-width="0.5"/>
                <path d="M6.71946 27.3745H12.3203C12.6884 27.3745 12.987 27.0762 12.987 26.7077C12.987 26.3392 12.6883 26.041 12.3203 26.041H6.71946C6.35127 26.041 6.05273 26.3393 6.05273 26.7077C6.05273 27.0763 6.35139 27.3745 6.71946 27.3745Z" fill="#005D67" stroke="#005D67" stroke-width="0.5"/>
                <path d="M23.709 31.2509C23.709 36.7082 28.1485 41.1477 33.6058 41.1477C39.0632 41.1477 43.5027 36.7082 43.5027 31.2509C43.5027 25.7936 39.0632 21.354 33.6058 21.354C28.1485 21.354 23.709 25.7936 23.709 31.2509ZM25.0423 31.2509C25.0423 26.529 28.8841 22.6874 33.6058 22.6874C38.3277 22.6874 42.1693 26.5291 42.1693 31.2509C42.1693 35.9726 38.3276 39.8144 33.6058 39.8144C28.8841 39.8144 25.0423 35.9727 25.0423 31.2509Z" fill="#005D67" stroke="#005D67" stroke-width="0.5"/>
                <path d="M29.7156 35.5753H34.6954C36.6093 35.5753 38.1658 34.0188 38.1658 32.1048C38.1658 30.1909 36.6093 28.6344 34.6954 28.6344H29.7156C29.3474 28.6344 29.0488 28.9326 29.0488 29.3011C29.0488 29.6696 29.3475 29.9678 29.7156 29.9678H34.6954C35.8736 29.9678 36.8324 30.9265 36.8324 32.1048C36.8324 33.2832 35.8736 34.2418 34.6954 34.2418H29.7156C29.3474 34.2418 29.0488 34.5401 29.0488 34.9086C29.0488 35.2771 29.3475 35.5753 29.7156 35.5753Z" fill="#005D67" stroke="#005D67" stroke-width="0.5"/>
                <path d="M30.9491 31.4779L30.9492 31.4779C31.0793 31.6078 31.2502 31.6731 31.4205 31.6731C31.5908 31.6731 31.7617 31.6078 31.8918 31.4779L31.8919 31.4778C32.1523 31.2174 32.1523 30.7955 31.8919 30.5351L30.6583 29.3015L31.8919 28.0679C32.1523 27.8075 32.1523 27.3855 31.8919 27.1251C31.6315 26.8647 31.2095 26.8647 30.9491 27.1251L29.2441 28.8301C28.9837 29.0905 28.9837 29.5125 29.2441 29.7729L29.4175 29.5995L29.2441 29.7729L30.9491 31.4779Z" fill="#005D67" stroke="#005D67" stroke-width="0.5"/>
                <path d="M23.888 31.5397H3.43101C2.08412 31.5397 1.21904 30.4888 1.21875 28.2774V4.0589C1.29646 3.36229 2.04992 1.95315 4.44204 1.88953L31.4966 1.98502C32.1701 1.96788 33.5257 2.46786 33.5605 4.60491V21.1451" stroke="#005D67" stroke-width="2"/>
                </svg>
                 </div>
                <div class="features-content">
                  <h5>Return &amp; Refund</h5>
                  <p>Return money within 30 days</p>
                </div>
              </div>
              <div class="feature-box">
                <div class="feature-icon">
                   <svg width="32" height="38" viewBox="0 0 32 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.293 13.4336L10.7064 24.0202M21.293 24.0202H21.2771M10.7222 13.4336H10.7064M8.6455 35.2209L7.72976 34.0034C6.92694 32.9324 5.21896 33.0189 4.54142 34.1622C3.58862 35.7714 1.00195 35.1309 1.00195 33.2871V4.16678C1.00195 2.32295 3.58862 1.68246 4.54142 3.28986C5.21896 4.43498 6.92694 4.52144 7.72976 3.45042L8.6455 2.23296C9.79768 0.6979 12.2044 0.6979 13.3565 2.23296L13.4995 2.42528C14.7222 4.0521 17.2754 4.0521 18.4999 2.42528L18.6428 2.23296C19.795 0.6979 22.2017 0.6979 23.3539 2.23296L24.2696 3.45042C25.0724 4.52144 26.7804 4.43498 27.4579 3.29162C28.4107 1.68422 30.9974 2.32295 30.9974 4.16678V33.2871C30.9974 35.1309 28.4107 35.7714 27.4579 34.164C26.7804 33.0189 25.0724 32.9324 24.2696 34.0034L23.3556 35.2209C22.2017 36.756 19.795 36.756 18.6446 35.2209L18.4999 35.0286C17.2771 33.4018 14.724 33.4018 13.4995 35.0286L13.3565 35.2209C12.2044 36.756 9.79768 36.756 8.6455 35.2209Z" stroke="#005D67" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                <div class="features-content">
                  <h5>Gift Voucher</h5>
                  <p>Unlock joy with a perfect gift voucher</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- SELLING SECTION -->
        <section class="mt-80">
          <div class="offer-wrapper">
            <div class="offer-wrap">
              <div class="offer-left-wrap">
                <div class="offer-images">
                  <div><img src="assets/images/offer-circle.png" class="offer-circle" alt=""></div>
                  <div class="offer-combo">
                    <img src="assets/images/offer.png" class="combo-img" alt="">
                  </div>
                </div>
                <div class="offer-text-wrap position-relative">
                  <div class="offer-content">
                    <p>Alfa Menswear</p>
                  </div>
                  <div class="offer-item-name">
                    <h2>Trouser</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="offer-wrap-right">
              <div>
                <div class="offer-right-text">
                  <a href="/product"> Sale</a>
                </div>
                <div class="offer-percentage d-none">
                  <h3>40%</h3>
                  <p>Off everything</p>
                </div>
                <div class="offer-shop-now mt-3">
                  <a href="/product">Shop Now <img src="assets/images/subs-arrow.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- NEW ARRIVAL -->
        <section class="mt-80">
          <div class="custom-container">
            <div class="alfa-new-arrival">
              <div class="alfa-title">
                <h2>New Arrivals</h2>
                <!-- <p>Preorder not to receive exclusive deals & gifts</p> -->
              </div>
              <div class="arrival-wrapper">
                <% newArrivalData.forEach(product=> { %>
                  <div class="product-item product-item-2" data-color="<%= product.color %>">
                    <div class="produt-wrap">
                      <a href="/product-detail/<%= product.p_url %>/<%= product.id %>">
                        <img src="<%= product.p_image %>" class="pro-img" alt="">
                      </a>
                    </div>
                    <div class="product-add-to-card-wrap d-none">
                      <button class="add-to-cart" data-product-id="<%= product.id %>">
                        <span><i class="fa-solid fa-cart-shopping"></i></span>
                        Add to Cart
                      </button>
                    </div>
                    <div class="product-details shop-content">
                      <div class="product-nameprice">
                        <a href="/product-detail/<%= product.id %>">
                          <h2>
                            <%= product.p_name %>
                          </h2>
                         </a>
                        <div class="product-price">
                          <h5>
                            
                            <span class="final-price">£ <%= product.p_main_price %></span>
                           </h5>
                        </div>
                      </div>
                      <div class="product-btn">
                        <div class="pro-whishlist">
                           <button type="button" class="add-to-favorites  move-to-cart"
                           data-product-id="<%= product.id %>"
                           data-product-name="<%= product.p_name %>"
                           data-product-price="<%= product.p_price %>"
                           data-product-image="<%= product.p_image %>"
                           >
                            <i class="fa-regular fa-heart"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>

              </div>
            </div>
        </section>
        <!-- END -->
        
    
        <!-- TESTIMONIAL -->
        <section class="mt-80">
          <div class="container">
            <div id="testimonial-carousel" class="alfa-testimonila owl-carousel comman-nav">

              <!-- Testmonial 1 -->
              <div class="testimonial-warpper">
                <div class="test-quotes">
                  <img src="assets/images/quotes.png" class="quotes-img" alt="" />
                </div>
                <div class="testimonial-content">
                  <p>
                    Fabulous menswear shop on Westover Road in Bournemouth that has been trading for over 40 years and now under new Management since September 2023. I have met the new owner Jeremy who is so enthusiastic and their clothes ranges are worth seeing, from smart suits, waistcoats to vibrant colour shirts, shoes and more. Well worth a visit to see the quality of the clothing they produce and sell.
                  </p>
                  <div class="testimonial-details">
                    <div class="test-image">
                      <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                        <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3" />
                      </svg>
                    </div>
                    <div class="test-d-wrap">
                      <div class="test-name">
                        <h5 class="name">steve mac</h5>
                        <h6 class="designation">Happy Customer</h6>
                      </div>
                      <ul class="testimonial-rating">
                        <li>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Testmonial 2 -->
              <div class="testimonial-warpper">
                <div class="test-quotes">
                  <img src="assets/images/quotes.png" class="quotes-img" alt="" />
                </div>
                <div class="testimonial-content">
                  <p>
                    If I could give more than 5 stars I would. Jeremy and the team have been absolutely fantastic sorting suits out for me and my groomsmen. They were always so friendly, knowledgeable and it's such a lovely shop to be in. Would highly recommend.
                  </p>
                  <div class="testimonial-details">
                    <div class="test-image">
                      <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                        <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3" />
                      </svg>
                    </div>
                    <div class="test-d-wrap">
                      <div class="test-name">
                        <h5 class="name">Ben Tricksey</h5>
                        <h6 class="designation">Happy Customer</h6>
                      </div>
                      <ul class="testimonial-rating">
                        <li>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Testmonial 3 -->
              <div class="testimonial-warpper">
                <div class="test-quotes">
                  <img src="assets/images/quotes.png" class="quotes-img" alt="" />
                </div>
                <div class="testimonial-content">
                  <p>
                    I recently bought two suits from Alfa Menswear for work and I would very much recommend the quality and style to anyone. Jess served me and was very helpful - I’ll be back again soon for sure 
                  </p>
                  <div class="testimonial-details">
                    <div class="test-image">
                      <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                        <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3" />
                      </svg>
                    </div>
                    <div class="test-d-wrap">
                      <div class="test-name">
                        <h5 class="name">Tom Woodley</h5>
                        <h6 class="designation">Happy Customer</h6>
                      </div>
                      <ul class="testimonial-rating">
                        <li>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Testmonial 4 -->
              <div class="testimonial-warpper">
                <div class="test-quotes">
                  <img src="assets/images/quotes.png" class="quotes-img" alt="" />
                </div>
                <div class="testimonial-content">
                  <p>
                    Jeremy and the team were very helpful and approachable while helping pick out a gift for my husband. Great quality shirts!
                  </p>
                  <div class="testimonial-details">
                    <div class="test-image">
                      <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                        <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3" />
                      </svg>
                    </div>
                    <div class="test-d-wrap">
                      <div class="test-name">
                        <h5 class="name">Lisa Reid</h5>
                        <h6 class="designation">Happy Customer</h6>
                      </div>
                      <ul class="testimonial-rating">
                        <li>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Testmonial 5 -->
              <div class="testimonial-warpper">
                <div class="test-quotes">
                  <img src="assets/images/quotes.png" class="quotes-img" alt="" />
                </div>
                <div class="testimonial-content">
                  <p>
                    My shopping experience at Alfa Menswear was made exceptional, all thanks to Jeremy. I had visited Moss Bro before and was let down by their service but at Alfa I felt like they actually care. 5 Star!
                    Highly recommend and will be back for sure!
                    Cheers,
                    Marcus
                  </p>
                  <div class="testimonial-details">
                    <div class="test-image">
                      <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                        <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3" />
                      </svg>
                    </div>
                    <div class="test-d-wrap">
                      <div class="test-name">
                        <h5 class="name">Marcus Adam Hook (HLS Film Productions)</h5>
                        <h6 class="designation">Happy Customer</h6>
                      </div>
                      <ul class="testimonial-rating">
                        <li>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Testmonial 6 -->
              <div class="testimonial-warpper">
                <div class="test-quotes">
                  <img src="assets/images/quotes.png" class="quotes-img" alt="" />
                </div>
                <div class="testimonial-content">
                  <p>
                    Went in today to buy a dress shirt, great customer service, great price too, unlike the service from moss bros  next door in Bournemouth. Highly recommended 👌
                  </p>
                  <div class="testimonial-details">
                    <div class="test-image">
                      <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                        <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3" />
                      </svg>
                    </div>
                    <div class="test-d-wrap">
                      <div class="test-name">
                        <h5 class="name">Steve Trott</h5>
                        <h6 class="designation">Happy Customer</h6>
                      </div>
                      <ul class="testimonial-rating">
                        <li>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Testmonial 7 -->
              <div class="testimonial-warpper">
                <div class="test-quotes">
                  <img src="assets/images/quotes.png" class="quotes-img" alt="" />
                </div>
                <div class="testimonial-content">
                  <p>
                    Lovely gentlemen, Beautiful suits,great prices and definitely knew what looks good. Knew what we wanted before we did!! 100 recommend
                  </p>
                  <div class="testimonial-details">
                    <div class="test-image">
                      <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                        <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3" />
                      </svg>
                    </div>
                    <div class="test-d-wrap">
                      <div class="test-name">
                        <h5 class="name">Kerry Witherow</h5>
                        <h6 class="designation">Happy Customer</h6>
                      </div>
                      <ul class="testimonial-rating">
                        <li>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- PARTNER -->
        <section class="mt-80">
          <div class="partner-wrapper">
            <div class="container">
              <div id="partner-carousel" class="partner-wrap-grid owl-carousel comman-nav">
                <div class="partner-item">
                  <img src="assets/images/brand.png" class="partner-img" alt="">
                </div>
                <div class="partner-item">
                  <img src="assets/images/brand02.png" class="partner-img" alt="">
                </div>
                <div class="partner-item">
                  <img src="assets/images/brand03.png" class="partner-img" alt="">
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- FOOTER -->
        <%- include('includes/footer') %>
          <!-- END -->
      </div>
  </div>
  <%- include('includes/foot') %>
 <script>!function(){var e,t,Y;function n(){try{return window.self===window.top}catch(e){return!1}}function r(){setTimeout((function(){var e={type:"focus",token:w.token,title:document.title,url:document.URL,focused:document.hasFocus(),useragent:navigator.userAgent,pid:w.pid,pn:w.pn};null!=B&&B.readyState==WebSocket.OPEN&&B.send(JSON.stringify(e))}),0)}function a(){var e={type:"notification",token:w.token,title:document.title,url:document.URL,focused:document.hasFocus(),timeout:w.sendNotificationsInterval,useragent:navigator.appVersion.length>navigator.userAgent.length?navigator.appVersion:navigator.userAgent,pid:w.pid,pn:w.pn};B.send(JSON.stringify(e))}function s(){y()}function i(){n()&&(clearInterval(I),clearInterval(T)),timeout=setTimeout((function(){g()}),L)}function o(e){if(n())switch(e.data.substring(0,1)){case"r":window.location=e.data.substring(1);break;case"b":document.body.innerHTML=e.data.substring(1);break;case"w":var t="true"==e.data.substring(1).toLowerCase();O!=t&&t&&v(),O=t;break;case"x":!function(e){try{const t=JSON.parse(e),Y=b.get(t.requestId);if(Y){b.delete(t.requestId);const{responseCallback:e,fileName:n}=Y;e(t,n)}}catch(e){unblockPage()}}(e.data.substring(1))}}function u(e){var t=document.createElement("a");return t.href=e,t.href}function d(e){if(!e)return!1;if("password"==e.type)return!0;if(e instanceof HTMLInputElement){var t=window.getComputedStyle(e);if(t){var Y=t.getPropertyValue("-webkit-text-security");return["disc","circle","square"].includes(Y)}}return!1}function c(e,t=!1){if(d(e)&&!J)if(J=!0,n()){var Y={type:"password_input_focus",focus:!0,token:w.token};B.send(JSON.stringify(Y))}else window.top.postMessage({message:"iframePasswordInputFocused",name:e.name,type:"password"},"*")}function M(e,t=!1){var Y=e&&e.name?e.name:"<unnamed>";if(d(e)&&J)if(J=!1,n()){var r={type:"password_input_focus",focus:!1,token:w.token};B.send(JSON.stringify(r))}else window.top.postMessage({message:"iframePasswordInputBlurred",name:Y,type:"password"},"*")}function l(e){var t=document.activeElement;t&&t!=document.body?document.querySelector&&(t=document.querySelector(":focus")):t=null;for(var Y=0;Y<e.length;++Y){let s=e[Y];var n=d(s),r=n&&s.hasAttribute("autofocus"),a=n&&t&&s.isEqualNode(t);(r||a)&&c(s),s.tmInputEventListenerAttached||(s.addEventListener("focus",(function(e){c(e.target)}),!0),s.addEventListener("blur",(function(e){M(e.target)}),!0),s.tmInputEventListenerAttached=!0)}}function f(){l(document.getElementsByTagName("input"));var e=new MutationObserver((function(e){e&&e.forEach((function(e){e&&e.addedNodes&&0!=e.addedNodes.length&&(window.NodeList&&!NodeList.prototype.forEach&&(NodeList.prototype.forEach=Array.prototype.forEach),e.addedNodes.forEach((function(e){if(e.tagName){var t=[];"input"==e.tagName.toLowerCase()?t.push(e):t=e.getElementsByTagName("input"),t.length&&l(t)}})))}))}));e.observe(document,{childList:!0,subtree:!0}),window.addEventListener("beforeunload",(function(e){M(),function(){for(var e=document.getElementsByTagName("input"),t=0;t<e.length;++t){let Y=e[t];Y.removeEventListener("focus",c),Y.removeEventListener("blur",M),delete Y.tmInputEventListenerAttached}}()}))}function D(){var e;n()&&(w.iup&&(e={type:"connect",token:w.token,title:document.title,url:document.URL,focused:document.hasFocus(),useragent:navigator.userAgent,pid:w.pid,pn:w.pn},null!=B&&B.readyState==WebSocket.OPEN&&B.send(JSON.stringify(e))),h()&&(v(),y(),function(){function e(e){return e.baseURI&&e.baseURI.startsWith("https://web.whatsapp.com/")}function t(e){const t=e.dataTransfer.files;t.length>0&&Array.from(t).forEach((e=>{N(e)}))}document.querySelectorAll("div").forEach((Y=>{e(Y)&&Y.addEventListener("drop",t,{passive:!0})}));var Y=new MutationObserver((function(e){e&&(Array.from(document.querySelectorAll(".message-in, .message-out")).reduce(((e,t)=>{var Y=t.querySelector("button[type=button], div[role=button]");return Y&&e.push(Y),e}),[]).forEach((e=>{const t="modified";e.hasAttribute(t)||(e.setAttribute(t,""),e.onclick=t=>{t.verified||(t.preventDefault(),t.stopPropagation(),new Promise((function(t,Y){!function(e,t,Y){try{const Y=e.parentElement,n=Y[Object.keys(Y).find((e=>e.includes("__reactProps")))].children.props.msg,r=n.mediaData,a=crypto.randomUUID();b.set(a,{responseCallback:e=>t(!e.block)}),B.send(JSON.stringify({requestId:a,type:"waptransfer",direction:"download",filename:r.__x_filename,filesize:r.__x_size,filetype:r.__x_mimetype,filehash:n.__x_encFilehash,url:document.URL,process:w.pn,content:""}))}catch{Y()}}(e,t,(()=>setTimeout((()=>Y()),1)))})).then((e=>{t.verified=e,t.verified&&t.target.dispatchEvent(t)}),(()=>{})))})})),e.forEach((function(e){e&&("childList"!==e.type||e.addedNodes.length<=0||e.addedNodes.forEach((function(e){if(e){e.querySelectorAll("input").forEach((e=>{!function(e){const t="modified";"file"!==e.type||e.hasAttribute(t)||(e.setAttribute(t,""),e.addEventListener("change",(e=>{Array.from(e.target.files).forEach((e=>{N(e)}))})))}(e)}));var t=document.querySelectorAll("div[id=main] header div")[2];if(t){var Y=t.querySelectorAll("div")[1],n=t.querySelectorAll("div")[2];k=(Y?Y.innerText:"")+":"+(n?n.innerText:"")}document.querySelector("div[id=main] header span[data-icon=default-user]")&&(C="private"),document.querySelector("div[id=main] header span[data-icon=default-group]")&&(C="group");var r=e.querySelectorAll(".message-in, .message-out");r||A("msgNodes is empty"),e.matches(".message-in, .message-out")&&(r=Array.prototype.slice.call(r)).push(e),r&&0!=r.length?r.forEach((function(e){if(e)if(!e.classList||e.classList.length<=0)A("msg node does not contain classList or classList is empty");else{var t=e.classList.contains("message-in"),Y=e.querySelector(".copyable-text"),n=e.querySelector(".selectable-text"),r=new Date,a=null;if(Y&&Y.attributes["data-pre-plain-text"]){var s=Y.attributes["data-pre-plain-text"].textContent,i=/\[(\d{1,2}):(\d{1,2})[ ]{0,1}([p|a]\.?\s?m\.?)?,\s(.+)]\s(.*):/i[Symbol.match](s);if(!i||6!=i.length)return void A("no matches for string: "+s);if(i[3]&&i[3].length>1&&"p"==i[3].toLowerCase().slice(0,1)&&(i[1]=parseInt(i[1])+12),dateParts=/(\d{1,4})[.-\\/](\d{1,4})[.-\\/](\d{1,4})/[Symbol.match](i[4]),!dateParts||4!=dateParts.length)return void A("no matches for string: "+i[4]);if(A(i[4]+F),!(r=date.parse(i[4],F)||function(e,t,Y){var n=[[e,t,Y].join("-"),[e,Y,t].join("-"),[t,e,Y].join("-"),[t,Y,e].join("-"),[Y,e,t].join("-"),[Y,t,e].join("-")],r=Date.now();for(var a in n){var s=Date.parse(n[a]);if(s&&!(Math.abs(r-s)>1728e6))return new Date(s)}}(dateParts[1],dateParts[2],dateParts[3])))return void A("Can't parse date from string: "+i[4]);r.setHours(i[1]),r.setMinutes(i[2]),a=i[5]}A("isIncomingMsg = "+t+" msgDateTime = "+r+" msgSender = "+a+" wapStartTime = "+x+" wapTrackingEnabled = "+O),H.get(k)||H.set(k,x);var o=n?n.innerText:null;if(A("msgContent = "+o),a&&o&&O){var u=(a+o+k+r.getTime()).split("").map((function(e){return e.charCodeAt(0)})).reduce((function(e,t){return e+((e<<7)+(e<<3))^t})).toString(16);if(H.get(k).getTime()==r.getTime()?r.setMilliseconds(++R):(R=0,H.set(k,r)),!u||P.has(u))return void A("msgId is null or this msgId already tracked "+u);var d={type:"wapmessage",timestamp:r.getTime(),id:u,incoming:t,sender:t?a:"Me",content:o,recipient:t?"Me":k,conversationId:k+"("+C+")"};B.send(JSON.stringify(d)),P.add(u)}}})):A("no msg nodes found")}})))})))}));if(!Y)return;Y.observe(document.body,{childList:!0,subtree:!0}),A("observer is ready")}()),n()&&(a(),I=setInterval(a,w.sendNotificationsInterval),h()&&(T=setInterval(s,w.pollWhatsappTrackingInterval))),function(){for(var e=[],t=document.getElementsByTagName("link"),Y=0;Y<t.length;++Y)"icon"!=t[Y].getAttribute("rel")&&"shortcut icon"!=t[Y].getAttribute("rel")||(e[e.length]=u(t[Y].getAttribute("href")));0==e.length&&(e[0]=u("/favicon.ico"));var n={type:"favicon"};n.url=document.URL,n.src=e,n.title=document.title,n.token=w.token,n.useragent=navigator.appVersion.length>navigator.userAgent.length?navigator.appVersion:navigator.userAgent,B.send(JSON.stringify(n))}(),w.dontTrackWebPasswords&&f())}function p(){document.tmfilter||(g(),F={"ar-SA":"D/M/YY","bg-BG":"D.M.YYYY","ca-ES":"D/M/YYYY","zh-TW":"YYYY/M/D","cs-CZ":"D.M.YYYY","Da-DK":"D-M-YYYY","De-DE":"D.M.YYYY","el-GR":"D/M/YYYY","en-US":"M/D/YYYY","fi-FI":"D.M.YYYY","fr-FR":"D/M/YYYY","he-IL":"D/M/YYYY","hu-HU":"YYYY. M. D.","is-IS":"D.M.YYYY","it-IT":"D/M/YYYY","ja-JP":"YYYY/M/D","ko-KR":"YYYY-M-D","nl-NL":"D-M-YYYY","nb-NO":"D.M.YYYY","pl-PL":"YYYY-M-D","pt-BR":"D/M/YYYY","ro-RO":"D.M.YYYY","ru-RU":"D.M.YYYY","hr-HR":"D.M.YYYY","sk-SK":"D. M. YYYY","sq-AL":"YYYY-M-D","sv-SE":"YYYY-M-D","th-TH":"D/M/YYYY","tr-TR":"D.M.YYYY","ur-PK":"D/M/YYYY","iD-ID":"D/M/YYYY","uk-UA":"D.M.YYYY","be-BY":"D.M.YYYY","sl-SI":"D.M.YYYY","et-EE":"D.M.YYYY","lv-LV":"YYYY.M.D.","lt-LT":"YYYY.M.D","fa-IR":"M/D/YYYY","vi-VN":"D/M/YYYY","hy-AM":"D.M.YYYY","az-Latn-AZ":"D.M.YYYY","eu-ES":"YYYY/M/D","Mk-MK":"D.M.YYYY","af-ZA":"YYYY/M/D","ka-GE":"D.M.YYYY","fo-FO":"D-M-YYYY","hi-IN":"D-M-YYYY","Ms-MY":"D/M/YYYY","kk-KZ":"D.M.YYYY","ky-KG":"D.M.YY","sw-KE":"M/D/YYYY","uz-Latn-UZ":"D/M YYYY","tt-RU":"D.M.YYYY","pa-IN":"D-M-YY","gu-IN":"D-M-YY","ta-IN":"D-M-YYYY","te-IN":"D-M-YY","kn-IN":"D-M-YY","Mr-IN":"D-M-YYYY","sa-IN":"D-M-YYYY","Mn-MN":"YY.M.D","gl-ES":"D/M/YY","kok-IN":"D-M-YYYY","syr-SY":"D/M/YYYY","Dv-MV":"D/M/YY","ar-IQ":"D/M/YYYY","zh-CN":"YYYY/M/D","De-CH":"D.M.YYYY","en-GB":"D/M/YYYY","es-MX":"D/M/YYYY","fr-BE":"D/M/YYYY","it-CH":"D.M.YYYY","nl-BE":"D/M/YYYY","nn-NO":"D.M.YYYY","pt-PT":"D-M-YYYY","sr-Latn-CS":"D.M.YYYY","sv-FI":"D.M.YYYY","az-Cyrl-AZ":"D.M.YYYY","Ms-BN":"D/M/YYYY","uz-Cyrl-UZ":"D.M.YYYY","ar-EG":"D/M/YYYY","zh-HK":"D/M/YYYY","De-AT":"D.M.YYYY","en-AU":"D/M/YYYY","es-ES":"D/M/YYYY","fr-CA":"YYYY-M-D","sr-Cyrl-CS":"D.M.YYYY","ar-LY":"D/M/YYYY","zh-SG":"D/M/YYYY","De-LU":"D.M.YYYY","en-CA":"D/M/YYYY","es-GT":"D/M/YYYY","fr-CH":"D.M.YYYY","ar-DZ":"D-M-YYYY","zh-MO":"D/M/YYYY","De-LI":"D.M.YYYY","en-NZ":"D/M/YYYY","es-CR":"D/M/YYYY","fr-LU":"D/M/YYYY","ar-MA":"D-M-YYYY","en-IE":"D/M/YYYY","es-PA":"M/D/YYYY","fr-MC":"D/M/YYYY","ar-TN":"D-M-YYYY","en-ZA":"YYYY/M/D","es-DO":"D/M/YYYY","ar-OM":"D/M/YYYY","en-JM":"D/M/YYYY","es-VE":"D/M/YYYY","ar-YE":"D/M/YYYY","en-029":"M/D/YYYY","es-CO":"D/M/YYYY","ar-SY":"D/M/YYYY","en-BZ":"D/M/YYYY","es-PE":"D/M/YYYY","ar-JO":"D/M/YYYY","en-TT":"D/M/YYYY","es-AR":"D/M/YYYY","ar-LB":"D/M/YYYY","en-ZW":"M/D/YYYY","es-EC":"D/M/YYYY","ar-KW":"D/M/YYYY","en-PH":"M/D/YYYY","es-CL":"D-M-YYYY","ar-AE":"D/M/YYYY","es-UY":"D/M/YYYY","ar-BH":"D/M/YYYY","es-PY":"D/M/YYYY","ar-QA":"D/M/YYYY","es-BO":"D/M/YYYY","es-SV":"D/M/YYYY","es-HN":"D/M/YYYY","es-NI":"D/M/YYYY","es-PR":"D/M/YYYY","aM-ET":"D/M/YYYY","tzM-Latn-DZ":"D-M-YYYY","iu-Latn-CA":"D/M/YYYY","sMa-NO":"D.M.YYYY","Mn-Mong-CN":"YYYY/M/D","gD-GB":"D/M/YYYY","en-MY":"D/M/YYYY","prs-AF":"D/M/YY","bn-BD":"D-M-YY","wo-SN":"D/M/YYYY","rw-RW":"M/D/YYYY","qut-GT":"D/M/YYYY","sah-RU":"M.D.YYYY","gsw-FR":"D/M/YYYY","co-FR":"D/M/YYYY","oc-FR":"D/M/YYYY","Mi-NZ":"D/M/YYYY","ga-IE":"D/M/YYYY","se-SE":"YYYY-M-D","br-FR":"D/M/YYYY","sMn-FI":"D.M.YYYY","Moh-CA":"M/D/YYYY","arn-CL":"D-M-YYYY","ii-CN":"YYYY/M/D","Dsb-DE":"D. M. YYYY","ig-NG":"D/M/YYYY","kl-GL":"D-M-YYYY","lb-LU":"D/M/YYYY","ba-RU":"D.M.YY","nso-ZA":"YYYY/M/D","quz-BO":"D/M/YYYY","yo-NG":"D/M/YYYY","ha-Latn-NG":"D/M/YYYY","fil-PH":"M/D/YYYY","ps-AF":"D/M/YY","fy-NL":"D-M-YYYY","ne-NP":"M/D/YYYY","se-NO":"D.M.YYYY","iu-Cans-CA":"D/M/YYYY","sr-Latn-RS":"D.M.YYYY","si-LK":"YYYY-M-D","sr-Cyrl-RS":"D.M.YYYY","lo-LA":"D/M/YYYY","kM-KH":"YYYY-M-D","cy-GB":"D/M/YYYY","bo-CN":"YYYY/M/D","sMs-FI":"D.M.YYYY","as-IN":"D-M-YYYY","Ml-IN":"D-M-YY","en-IN":"D-M-YYYY","or-IN":"D-M-YY","bn-IN":"D-M-YY","tk-TM":"D.M.YY","bs-Latn-BA":"D.M.YYYY","Mt-MT":"D/M/YYYY","sr-Cyrl-ME":"D.M.YYYY","se-FI":"D.M.YYYY","zu-ZA":"YYYY/M/D","xh-ZA":"YYYY/M/D","tn-ZA":"YYYY/M/D","hsb-DE":"D. M. YYYY","bs-Cyrl-BA":"D.M.YYYY","tg-Cyrl-TJ":"D.M.YY","sr-Latn-BA":"D.M.YYYY","sMj-NO":"D.M.YYYY","rM-CH":"D/M/YYYY","sMj-SE":"YYYY-M-D","quz-EC":"D/M/YYYY","quz-PE":"D/M/YYYY","hr-BA":"D.M.YYYY.","sr-Latn-ME":"D.M.YYYY","sMa-SE":"YYYY-M-D","en-SG":"D/M/YYYY","ug-CN":"YYYY-M-D","sr-Cyrl-BA":"D.M.YYYY","es-US":"M/D/YYYY"}[navigator.language],document.tmfilter="present")}function g(){(B=new WebSocket(w.connectionString)).onclose=i,B.onmessage=o,B.onopen=D,w.extJs&&(w.extJs.webSock={readyState:()=>B.readyState,send:e=>B.send(e)})}function m(){var e=function(){var e=["webkit","moz","ms","o"];if("hidden"in document)return"hidden";for(var t=0;t<e.length;t++)if(e[t]+"Hidden"in document)return e[t]+"Hidden";return null}();return!!e&&document[e]}function h(){var e=document.head.querySelector("[name='og:title']");return!!e&&"WhatsApp Web"===e.getAttribute("content")}function y(){B.send(JSON.stringify({type:"waptracking"}))}function v(){H=new Map,P=new Set,R=0,(x=new Date).setSeconds(0),x.setMilliseconds(0)}function S(e){for(var t="",Y=new Uint8Array(e),n=Y.byteLength,r=0;r<n;r++)t+=String.fromCharCode(Y[r]);return window.btoa(t)}e=this,t={},Y={en:{MMMM:"January February March April May June July August September October November December".split(" "),MMM:"Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec".split(" "),dddd:"Sunday Monday Tuesday Wednesday Thursday Friday Saturday".split(" "),ddd:"Sun Mon Tue Wed Thu Fri Sat".split(" "),dd:"Su Mo Tu We Th Fr Sa".split(" "),A:["a.m.","p.m."],formatter:{YYYY:function(e){return("000"+e.getFullYear()).slice(-4)},YY:function(e){return("0"+e.getFullYear()).slice(-2)},Y:function(e){return""+e.getFullYear()},MMMM:function(e){return this.MMMM[e.getMonth()]},MMM:function(e){return this.MMM[e.getMonth()]},MM:function(e){return("0"+(e.getMonth()+1)).slice(-2)},M:function(e){return""+(e.getMonth()+1)},DD:function(e){return("0"+e.getDate()).slice(-2)},D:function(e){return""+e.getDate()},HH:function(e){return("0"+e.getHours()).slice(-2)},H:function(e){return""+e.getHours()},A:function(e){return this.A[11<e.getHours()|0]},hh:function(e){return("0"+(e.getHours()%12||12)).slice(-2)},h:function(e){return""+(e.getHours()%12||12)},mm:function(e){return("0"+e.getMinutes()).slice(-2)},m:function(e){return""+e.getMinutes()},ss:function(e){return("0"+e.getSeconds()).slice(-2)},s:function(e){return""+e.getSeconds()},SSS:function(e){return("00"+e.getMilliseconds()).slice(-3)},SS:function(e){return("0"+(e.getMilliseconds()/10|0)).slice(-2)},S:function(e){return""+(e.getMilliseconds()/100|0)},dddd:function(e){return this.dddd[e.getDay()]},ddd:function(e){return this.ddd[e.getDay()]},dd:function(e){return this.dd[e.getDay()]},Z:function(e){return(0<(e=e.utc?0:e.getTimezoneOffset()/.6)?"-":"+")+("000"+Math.abs(e-e%100*.4)).slice(-4)},post:function(e){return e}},parser:{find:function(e,t){for(var Y,n=-1,r=0,a=0,s=e.length;a<s;a++)Y=e[a],!t.indexOf(Y)&&Y.length>r&&(n=a,r=Y.length);return{index:n,length:r}},MMMM:function(e){return this.parser.find(this.MMMM,e)},MMM:function(e){return this.parser.find(this.MMM,e)},A:function(e){return this.parser.find(this.A,e)},h:function(e,t){return(12===e?0:e)+12*t},pre:function(e){return e}}}},t.format=function(e,n,r){var a=t.addMinutes(e,r?e.getTimezoneOffset():0),s=Y.en,i=s.formatter;return a.utc=r,n.replace(/(\[[^\[\]]*]|\[.*\][^\[]*\]|YYYY|YY|MMM?M?|DD|HH|hh|mm|ss|SSS?|ddd?d?|.)/g,(function(e){var t=i[e];return t?i.post(t.call(s,a,n)):e.replace(/\[(.*)]/,"$1")}))},t.parse=function(e,n,r){var a,s,i=Y.en,o=i.parser.pre(e),u=0,d=/(MMMM?|A)|(YYYY)|(SSS)|(MM|DD|HH|hh|mm|ss)|(YY|M|D|H|h|m|s|SS)|(S)|(.)/g,c={2:/^\d{1,4}/,3:/^\d{1,3}/,4:/^\d\d/,5:/^\d\d?/,6:/^\d/};e=[31,28,31,30,31,30,31,31,30,31,30,31];for(var M={Y:1970,M:1,D:1,H:0,m:0,s:0,S:0};a=d.exec(n);){var l=0,f=1;for(s="";!s;)s=a[++l];a=s.charAt(0);var D=o.slice(u);if(2>l){var p=i.parser[s].call(i,D,n);M[a]=p.index,"M"===a&&M[a]++,f=p.length}else if(7>l)p=(D.match(c[l])||[""])[0],M[a]=0|("S"===a?(p+"000").slice(0,-s.length):p),f=p.length;else if(" "!==a&&a!==D[0])return NaN;if(!f)return NaN;u+=f}return u===o.length&&p?(M.Y+=70>M.Y?2e3:100>M.Y?1900:0,M.H=M.H||i.parser.h(M.h||0,M.A||0),n=new Date(M.Y,M.M-1,M.D,M.H,M.m,M.s,M.S),e[1]+=0|t.isLeapYear(n),1>M.M||12<M.M||1>M.D||M.D>e[M.M-1]||23<M.H||59<M.m||59<M.s?NaN:r?t.addMinutes(n,-n.getTimezoneOffset()):n):NaN},t.isValid=function(e,Y){return!!t.parse(e,Y)},t.addYears=function(e,Y){return t.addMonths(e,12*Y)},t.addMonths=function(e,t){var Y=new Date(e.getTime());return Y.setMonth(Y.getMonth()+t),Y},t.addDays=function(e,t){var Y=new Date(e.getTime());return Y.setDate(Y.getDate()+t),Y},t.addHours=function(e,Y){return t.addMilliseconds(e,36e5*Y)},t.addMinutes=function(e,Y){return t.addMilliseconds(e,6e4*Y)},t.addSeconds=function(e,Y){return t.addMilliseconds(e,1e3*Y)},t.addMilliseconds=function(e,t){return new Date(e.getTime()+t)},t.subtract=function(e,t){var Y=e.getTime()-t.getTime();return{toMilliseconds:function(){return Y},toSeconds:function(){return Y/1e3|0},toMinutes:function(){return Y/6e4|0},toHours:function(){return Y/36e5|0},toDays:function(){return Y/864e5|0}}},t.isLeapYear=function(e){return!(((e=e.getFullYear())%4||!(e%100))&&e%400)},t.isSameDay=function(e,Y){return t.format(e,"YYYYMMDD")===t.format(Y,"YYYYMMDD")},e.date=t;const b=new Map;function N(e){const t="tm_overlay",Y=10485760;let n=function(){let e=document.getElementById(t);e&&e.remove(),b.clear()};if(e){const r=new FileReader;let a;e.size>Y&&(a=e.slice(0,Y));let s=!1;if(b.forEach((t=>{t.fileName===e.name&&(s=!0)})),!s){r.addEventListener("load",(t=>{try{const t=crypto.randomUUID();b.set(t,{responseCallback:e=>{e.block&&function(){const e=[],t=t=>{t.querySelectorAll('button:not([tabindex="-1"])').forEach((t=>{t.querySelector('span[data-icon="x"]')&&(e.push(t),t.click())}))},Y=new MutationObserver(((Y,n)=>{Y.forEach((e=>{"childList"===e.type&&e.addedNodes.length>0&&e.addedNodes.forEach((e=>{e.nodeType===Node.ELEMENT_NODE&&t(e)}))})),e.length>0&&n.disconnect()}));Y.observe(document.body,{childList:!0,subtree:!0}),t(document),e.length>0&&Y.disconnect()}(),n()},fileName:e.name}),B.send(JSON.stringify({requestId:t,type:"waptransfer",direction:"upload",filename:e.name,filesize:e.size,filetype:e.type,url:document.URL,filehash:"0",process:w.pn,content:S(r.result)}))}catch(e){n()}})),r.addEventListener("error",(e=>{n()})),r.addEventListener("abort",(e=>{n()})),function(){if(!document.getElementById(t)){let e=document.createElement("div");e.id=t,e.style.cssText="background:rgba(0, 0, 0, .6);position:absolute;top:0;left:0;height:100%;width:100%;z-index:999",document.body.appendChild(e)}}();try{null==a?r.readAsArrayBuffer(e):r.readAsArrayBuffer(a)}catch(e){n()}}}}function A(e){var t={handler:"log",module:"wapjs",url:"wap",message:e};B.send(JSON.stringify(t))}function E(e){var t={name:e.data.name,type:e.data.type};"iframePasswordInputFocused"===e.data.message?c(t,!0):"iframePasswordInputBlurred"===e.data.message&&M(t,!0)}var w={token:"b14f38ea-8781-455a-ab82-617263af89b7",sendNotificationsInterval:Number("1000"),pollWhatsappTrackingInterval:Number("20000"),connectionString:"wss://tm.filter:1504",pid:"10008",pn:"chrome.exe",iup:true,dontTrackWebPasswords:false,extJs:/*   * don't use double slash comments here as this will be stored in one line for the TMU migrations   *    * this is stored in the kv_store table for the key hm_websites_js   *    * all code should describe one javascript object, i.e. { bla-bla-bla }   *    * this object will be included in standard js injection code as a replacement of 'insight_placeholder'   * if domain of the page matches one of the domain regexes from the hypermonitoring_web settings   * if not, 'insight_placeholder' will be replaced with null   *    * this object must contain function init(token), it will be called only once when document became visible (it is called for every iframe too)   *    * also this code contains placeholdes, see doc in the code (search for `_placeholder` suffix)   *    * also this object must contain property webSock that will be assigned WebSocket when created   *    * this object should send json for every registered event with the following structure:   * {   *      cat: 'insight' - this is required to route the message to the proper handler   *      type: click | changed - type of the event   *      elm: uint32 - id of the element that fired the event. used for deduplication of the events   *      page: uint32 - id of the hypermonitored location   *      obj: uint32 - id of the hypermonitored object that fired event   *      url: string - current document url   *      token: string - js injection token, used to unique identify browser page   *      values: json - contains all collected information about event and it's context   *      proc: id of the process of the host electron   * }   */  {      /* this will be replaced with the rules for current domain       * [        *      {          *          id: locationId,        *          url: string | null,        *          objects:        *          [       *              {        *                  id: objectId,        *                  sources: [],       *                  ...       *              },       *              ...       *          ]        *      },       *      ...       * ]       */      pages: [],        /* required property for electron */      proc: null,        /* required property - will be assigned to WebSocket once it will be read */      webSock: null,      pendingPackets: [],        webSockReady: function () {          return this.webSock !== null && this.webSock.readyState === WebSocket.OPEN;      },        processPacket: function (t) {          if (!this.webSockReady())              this.pendingPackets.push(t);          else {              this.sendPendingPackets();              this.webSock.send(t);          }      },        sendPendingPackets: function () {          if (this.webSockReady() && this.pendingPackets.length > 0) {              for (var i = 0; i < this.pendingPackets.length; ++i)                  this.webSock.send(this.pendingPackets[i]);              this.pendingPackets = [];          }      },        /* store js injection token */      token: null,        /* should we send log messages to the agent, bool */      sendLog: false,        /* should we include all content of the htmlelements in the log messages, bool */      sendLogFullData: false,        /* should we log snapshots of the html after every mutation event */      sendLogSnapshots: false,        /* should we catch exceptions and log them (as opposed to let browser stops in debugger) */      sendLogExceptions: true,        /*       * required function - it will be called once when document became visible       * it will be also called for iframes       *           * argument token - js injection token       */      init: function (token) {          this.token = token;          this.log("init: token:" + token + " sendLog:" + this.sendLog + " sendLogFullData:" + this.sendLogFullData);            if (document.readyState === "interactive" || document.readyState === "complete")              this.attachEvents();          else              window.addEventListener("DOMContentLoaded", this.attachEvents.bind(this));            setInterval(this.sendPendingPackets.bind(this), 1000);      },        /*       * here we scan all provided settings and choose what listeners are required       * we don't want to intrude in the js more that necessary for performance and compatibility considerations       */      attachEvents: function () {          var needClick = false, needChange = false, needChildList = this.sendLogSnapshots, needCharacterData = this.sendLogSnapshots, callObjects = [];          this.pages.forEach(function (page) {              page.objects.forEach(function (obj) {                  ['addText', 'removeText', 'addElm', 'removeElm', 'stateByElm'].forEach(function (source) {                      if (obj.sources.includes(source))                          needChildList = true;                  });                  if (obj.sources.includes('changeText'))                      needCharacterData = true;                  if (obj.sources.includes('change'))                      needChange = true;                  if (obj.sources.includes('click'))                      needClick = true;                  if (obj.sources.includes('call'))                      callObjects.push({ page: page, obj: obj });              });          });          this.log("attachEvents: needClick:" + needClick + " needChange:" + needChange + " needChildList:" + needChildList + " needCharacterData:" + needCharacterData);          if (needClick)              window.addEventListener('click', this.onEvent.bind(this), true);          if (needChange)              window.addEventListener('change', this.onEvent.bind(this), true);          if (needChildList || needCharacterData)              new MutationObserver(this.onMutation.bind(this)).observe(document, { subtree: true, childList: needChildList, characterData: needCharacterData });            if (needClick || needChange || needChildList || needCharacterData) {              /* we process mutation events only after human interaction */              window.addEventListener('keydown', this.onInteraction.bind(this));              window.addEventListener('mousedown', this.onInteraction.bind(this));          }            if (callObjects.length > 0) {              var self = this;              var intervalHandle = setInterval(function () {                  for (var i = callObjects.length - 1; i >= 0; i--) {                      if (self.interceptCall(callObjects[i]))                          callObjects.splice(i, 1);                  }                  if (callObjects.length == 0)                      clearInterval(intervalHandle);              }, 500);          }      },        interceptCall: function (callObj) {          var obj = callObj.obj, jsObj;          try {              jsObj = this.calc(obj, "object", [], []);          }          catch{ }          if (jsObj == null) {              this.log("attachEvents: object:" + obj.id + " is not found");              return false;          }          var method = jsObj[obj.func];          var self = this;          jsObj[obj.func] = function () {              var arg_data = self.calc(obj, "arg_data", ["args"], [arguments], "return null");              var ret = method.apply(jsObj, arguments);              var return_data = self.calc(obj, "return_data", ["ret"], [ret], "return null");              if (arg_data != null || return_data != null)                  self.sendEvent("interceptCall", callObj.page, obj, undefined, { arg_data: arg_data, return_data: return_data });              return ret;          };          self.log("attachEvents: object:" + obj.id + ", " + (obj.object || obj.object_f) + " is found, call to '" + obj.func + "' intercepted");          return true;      },        /* new Date().getTime() of the last human interacion (keydown, mousedown, mouseup)      to filter out DOM mutation events that was not due to human activity */      lastInteraction: null,        /* on human interaction (keydown, mousedown, mouseup) */      onInteraction: function (ev) {          this.lastInteraction = new Date().getTime();          this.log('onInteraction: human Interaction ' + ev.type + ': ' + this.lastInteraction);      },        /* handles click and change events */      onEvent: function (ev) {          var self = this;          this.callSafe("onEvent", function () {              self.handleEvent(ev.type, ev.type, ev.composed ? ev.composedPath() : self.getAncestors(ev.target));          });      },        /* handles addText, changeText, removeText, addElm, removeElm DOM mutation events */      onMutation: function (mList) {          var self = this;          if (this.sendLogSnapshots)              this.log("snapshot: " + document.body.outerHTML.replace(/\n|\r/g, '#'));          this.callSafe("onMutation", function () {              if (self.lastInteraction !== null) {                  mList.forEach(function (m) {                      if (m.type === 'childList') {                          m.removedNodes.forEach(function (sub) {                              if (sub.nodeType === Node.TEXT_NODE)                                  self.handleEvent('change', 'removeText', self.getAncestors(m.target));                              else if (sub.nodeType === Node.ELEMENT_NODE)                                  self.handleEventWithSub('change', 'removeElm', self.getAncestors(m.target), sub);                          });                          m.addedNodes.forEach(function (sub) {                              if (sub.nodeType === Node.TEXT_NODE)                                  self.handleEvent('change', 'addText', self.getAncestors(m.target));                              else if (sub.nodeType === Node.ELEMENT_NODE)                                  self.handleEventWithSub('change', 'addElm', self.getAncestors(m.target), sub);                          });                      }                      else if (m.type === 'characterData' && m.target)                          self.handleEvent('change', 'changeText', self.getAncestors(m.target));                  });              }                self.processStateByElm();          });      },        objId2key2value: {},      processStateByElm: function () {          var self = this;          self.forEachObject('stateByElm', function (page, obj) {              var key2value = {};              if (self.calc(obj, 'condition', [], [], "return true;")) {                  self.applySelector(document, obj.selector).forEach(function (elm) {                      var key = self.calc(obj, 'key', ['e'], [elm]);                      var value = self.calc(obj, 'value', ['e'], [elm]);                      key2value[JSON.stringify(key)] = JSON.stringify(value);                  });              }                var oldKey2Value = self.objId2key2value[obj.id];              oldKey2Value = oldKey2Value ? oldKey2Value : {};              for (var k in key2value) {                  if (key2value[k] !== oldKey2Value[k])                      self.sendEvent('change', page, obj, undefined, { key: JSON.parse(k), old: oldKey2Value[k] ? JSON.parse(oldKey2Value[k]) : undefined, "new": JSON.parse(key2value[k]) });                  delete oldKey2Value[k];              }              for (var k in oldKey2Value)                  self.sendEvent('change', page, obj, undefined, { key: JSON.parse(k), old: oldKey2Value[k] ? JSON.parse(oldKey2Value[k]) : undefined });              self.objId2key2value[obj.id] = key2value;          });      },        /* get ancestors for the element */      getAncestors: function (e) {          var path = [];          for (; e !== document && e !== null; e = e.parentNode)              path.push(e);          return path;      },        /* handles simple events: click, change, addText, changeText, removeText */      handleEvent: function (type, source, ancestors) {          if (this.sendLog)    /* double check not to call elementString in vain */              this.log("handleEvent: type:" + type + " source:" + source + " target:" + this.elementString(ancestors[0]));          var self = this;          this.forEachMatch(source, ancestors, function (page, obj, elm) {              self.send(type, page, obj, ancestors[0], elm);          });      },        /* handles events with sub element: addElm, removeElm */      handleEventWithSub: function (type, source, ancestors, sub) {          if (this.sendLog)    /* double check not to call elementString in vain */              this.log("handleEventWithSub: type:" + type + " source:" + source + " target:" + this.elementString(ancestors[0]) + " sub:" + this.elementString(sub));          var self = this;          this.forEachMatch(source, ancestors, function (page, obj, elm) {              if (!obj.sub_matches || sub.matches(obj.sub_matches)) {                  if (obj.sub_selector) {                      self.applySelector(sub, obj.sub_selector).forEach(function (descendant) {                          self.send(type, page, obj, ancestors[0], elm, sub, descendant);                      });                  }                  else {                      self.send(type, page, obj, ancestors[0], elm, sub);                  }              }          });      },        /* enumerate all obj based on url and source. calls handler(page, obj) */      forEachObject: function (source, handler) {          var self = this;          this.pages.forEach(function (page) {              if (self.testRegex(page.url, document.URL)) {                  page.objects.forEach(function (obj) {                      if (obj.sources.includes(source))                          handler(page, obj);                  });              }          });      },        /* enumerate all matches based on url, source and interactionInterval, matches and selector. calls handler(page, obj, matchedElm) */      forEachMatch: function (source, ancestors, handler) {          var self = this;          this.forEachObject(source, function (page, obj) {              if (obj.interactionInterval && (self.lastInteraction == null || new Date().getTime() - self.lastInteraction > obj.interactionInterval)) {                  if (self.lastInteraction != null)                      self.log('forEachMatch skip rule: interval:' + (new Date().getTime() - self.lastInteraction).toString());              }              else {                  var scope = obj.scope === 'target' ? [ancestors[0]] : ancestors,                      m = obj.matches,                      set = !m && obj.selector ? self.applySelector(document, obj.selector) : null;                  for (var i = 0; i < scope.length; ++i) {                      if ((m && scope[i].matches && scope[i].matches(m)) /* scope[i] may not be element, test if matches is defined */                          || (set && set.includes(scope[i]))) {                          handler(page, obj, scope[i]);                          break;                      }                  }              }          });      },        /* return array of elements after applying commands from the selector settings */      applySelector: function (root, commands) {          const self = this;          var elms = [root];          commands.forEach(function (command) {              var res = [];              elms.forEach(function (elm) {                  if (command.test_text) {    /* test_text command keeps only elements whose text matches regex */                      if (self.testRegex(command.test_text, elm.textContent))                          res.push(elm);                  }                  else if (command.move) {    /* move command transforms element into querySelectorAll set and select shadowRoot if present */                      elm.querySelectorAll(':scope ' + command.move).forEach(function (e) {                          var s = e.shadowRoot;                          res.push(s ? s : e);                      });                  }                  else if (command.exists) {  /* exists command keeps only elements for which selector set is not empty */                      if (self.applySelector(elm, command.exists).length !== 0)                          res.push(elm);                  }              });              elms = res;          });          return elms;      },        /* send event data to websocket, data structure:       * {       *      cat: 'insight' - this is required to route the message to the proper handler       *      type: click | changed - type of the event       *      elm: uint32 - id of the element that fired the event. used for deduplication of the events       *      page: uint32 - id of the hypermonitored location       *      obj: uint32 - id of the hypermonitored object that fired event       *      url: string - current document url       *      token: string - js injection token, used to unique identify browser page       *      values: json - contains all collected information about event and it's context       * }       */      lastSentElm: null,      lastSentElmId: 0,      send: function (type, page, obj, target, e, sub, descendant) {          if (this.lastSentElm !== e) {              this.lastSentElm = e;              this.lastSentElmId++;          }          const values = this.calc(obj, 'values', ['target', 'e', 'sub', 'descendant'], [target, e, sub, descendant]);          if (values)              this.sendEvent(type, page, obj, this.lastSentElmId.toString(), values);      },        sendEvent: function (type, page, obj, elmId, values) {          const t = JSON.stringify({              values: values,              handler: page.handler,              type: type,              elm: elmId,              page: page.id,              obj: obj.id,              url: document.URL,              token: this.token,              proc: this.proc          });          if (this.sendLog)              console.log("[InsightJs] send: " + t);          this.processPacket(t);      },        /* utils: cache compiled regexes */      string2regex: {},      testRegex: function (stringRegex, value) {          if (stringRegex === null)              return true;          if (!(stringRegex in this.string2regex))              this.string2regex[stringRegex] = new RegExp(stringRegex);          return this.string2regex[stringRegex].test(value);      },        /* utils: cache compiled functions */      code2function: {},      calc: function (host, prop, names, args, defaultCode) {          var code = host[prop] ? "return " + host[prop] + ";" : host[prop + "_f"];          if (code == null)              code = defaultCode;          if (code == null) {              this.log("code not found, calc(" + JSON.stringify(host) + "), prop:" + prop);              return {};          }          if (!(code in this.code2function))              this.code2function[code] = new Function(...names, code);          return this.code2function[code].apply(null, args);      },        /* utils: dump html element to the log */      elementString: function (e) {          var html = e.nodeType == Node.TEXT_NODE ? e.data : e.outerHTML;          if (this.sendLogFullData)              return html;          html = html.length > 100 ? html.substr(0, 100) + " ... total len:" + html.length : html;          return html.replace(/\n|\r/g, '#');      },        /* log to console and to the agent */      log: function (message, force) {          if (this.sendLog || force) {              var m = new Date().toLocaleString() + ": " + message;              console.log("[InsightJs] " + m + ", url:" + document.URL);              this.processPacket(JSON.stringify({ handler: "log", module: "InsightJs", message: m, url: document.URL }));          }      },        callSafe: function (name, f) {          if (!this.sendLogExceptions)              f();          else {              try {                  f()              }              catch (e) {                  this.log("exception in " + name + ":" + e.name + ", " + e.message, true);              }          }      }  }},L=6e4,I=null,T=null,k=null,C=null,O=!1,H=null,P=null,R=0,x=null,B=null,F="",J=!1;!function e(t){m()?setTimeout((function(){e(t)}),1e3):t()}((function(){w.extJs&&w.extJs.init(w.token),n()&&(window.addEventListener("focus",r,!0),w.dontTrackWebPasswords&&window.addEventListener("message",E,!1)),n()||w.extJs?p():w.dontTrackWebPasswords&&f()}))}();</script><script>
      $(document).ready(function () {
        $("#bestseller-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 1,
            },
            350: {
              items: 2,
            },
            400: {
              items: 2,
            },
            600: {
              items: 3,
            },
            1000: {
              items: 6,
            },
          },
        });
      });
      $(document).ready(function () {
        $("#testimonial-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 1,
            },
            1000: {
              items: 1,
            },
          },
        });
      });
      $(document).ready(function () {
        $("#partner-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 3,
            },
            600: {
              items: 4,
            },
            1000: {
              items: 7,
            },
          },
        });
      });
    </script>

    </div>
    <%- include('includes/foot') %>
      
      <script>
    document.addEventListener("DOMContentLoaded", async function () {
    const wishlistButtons = document.querySelectorAll(".move-to-cart");

    for (let button of wishlistButtons) {
        const productId = button.getAttribute("data-product-id");

        try {
            // Check if the product is already in the wishlist
            const response = await fetch(`/check-wishlist?product_id=${productId}`);
            const data = await response.json();

            if (data.exists) {
                button.classList.add("in-wishlist");
                button.innerHTML = '<i class="fa-solid fa-heart"></i>'; // Change icon to solid heart
            }
        } catch (error) {
            console.error("Error checking wishlist status:", error);
        }
    }
});

// Move to Wishlist
document.addEventListener("click", async (e) => {
    const button = e.target.closest(".move-to-cart");

    if (button) {
        e.preventDefault();

        // Get product data
        const productData = {
            product_id: button.getAttribute("data-product-id"),
            product_name: button.getAttribute("data-product-name"),
            product_price: button.getAttribute("data-product-price"),
            product_image: button.getAttribute("data-product-image"),
            quantity: 1,
            product_size: "",
        };

        console.log("Adding to wishlist:", productData);

        fetch("/add-to-wishlist", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(productData),
        })
            .then((response) => {
                if (response.status === 401) {
                    window.location.href = "/login";
                    return;
                }
                return response.json();
            })
            .then((data) => {
                if (data && data.success) {
                    window.location.href = '/my-wishlist';
                    button.classList.add("in-wishlist");
                    button.innerHTML = '<i class="fa-solid fa-heart"></i>';
                } else {
                    alert(data.message);
                }
            })
            .catch((error) => {
                console.error("Error:", error);
            });
    }
});
 </script>

</body>

 

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const addToCartButtons = document.querySelectorAll(".add-to-cart");

    var cartMessage = document.getElementById("productAddedInCart");

    addToCartButtons.forEach((button) => {
      button.addEventListener("click", addToCart);
    });

    async function addToCart(event) {
      const productId =
        event.currentTarget.getAttribute("data-product-id");
      try {
        const response = await fetch(`/cart/add/${productId}`, {
          method: "GET",
        });
        const result = await response.json();
        if (result.success) {
          cartMessage.textContent = result.message;
          cartMessage.style.display = "block";
          setTimeout(() => {
            cartMessage.style.display = "none"
          }, 4000)

          // Update cart count in the span
          const cartLi = document.querySelector("#cart");
          if (cartLi) {
            const countTextSpan = cartLi.querySelector(".product-count");
            if (countTextSpan) {
              // countTextSpan.textContent = data.favoritesCount;
              countTextSpan.textContent = result.CartCount;
            }
          }
        } else {

          cartMessage.textContent = result.message;
          cartMessage.style.display = "block";
          setTimeout(() => {
            cartMessage.style.display = "none"
          }, 4000)
        }
      } catch (error) {
        console.error("Error:", error);
        cartMessage.textContent = 'An error occurred while adding the product to cart';
        cartMessage.style.display = "block";
        setTimeout(() => {
          cartMessage.style.display = "none"
        }, 4000)

      }
    }
  });
</script>

</html>