<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfa Meanswear | My Cart</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
            <div class="mt-100 mt-150">
                <div class="checkout-wrapper margin-160">
                    <div class="container">
                        <div class="checkout-title profile-wrapper">
                            <h4>My Profile</h4>
                            <!-- <a href="" class="add-action-btn">Edit</a> -->
                        </div>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="profile-content">
                                            <div class="profile-icon">
                                                <img src="assets/images/testimonial.png" alt="">
                                            </div>
                                            <div class="profile-data">
                                                <h6> <%=user.name  %></h6>
                                                <p><%=user.email  %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="profile-form-text mb-3">
                                            <h5>Personal Information</h5>
                                        </div>
                                        <form action="save-profile" method="post">
                                            <input type="hidden" name="user_id" value="<%=user.id  %>">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="profile-form-group">
                                                        <input type="text" name="name"
                                                            class="form-control contact-form-control"
                                                            placeholder="Name"
                                                            value="<%=user.name  %>">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="profile-form-group">
                                                        <input type="text" name="email"
                                                            class="form-control contact-form-control"
                                                            placeholder="Email ID"
                                                            value="<%=user.email  %>">
                                                            
                                                    </div>
                                                </div>
                                                 
                                                
                                            </div>
                                            <div class="row mb-4">
                                                <div class="text-end">
                                                    <button class="profile-btn">Save Profile</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %> 
</body>

</html>