<!DOCTYPE html>
<html lang="en">

<head>
  <base href="<%= baseURL %>">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Alfa Meanswear | Product Detail</title>
  <meta name="robots" content="noindex">
  <%- include('includes/head') %>

</head>

<body>
  <!-- Loader -->
  <div class="page-loader" id="loader">
    <div class="spinner">
      <div class="inner"></div>
    </div>
  </div>

  <div class="comman-message">
    <div class="message-alert">
      <h6 class="showss" id="productAddedInCart"></h6>
    </div>
  </div>

  <div class="alfa-main-wraper" id="web-content">
    <%- include('includes/header') %>
      <div class="mt-100">
        <div class="alfa-detail-sexction alfa-detail-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="row product-detail-reverse">
                  <div class="col-md-2 paddingleft">
                    <div class="image-grid-wrapper">
                      <div class="images-grids">
                        <% proImages.forEach((p_image,index)=> { %>
                          <div class="image-item" data-index="<%= index+1 %>">
                            <img src="<%= p_image.p_images %>" class="d-img" alt="">
                          </div>
                          <% }) %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10 paddingleft">
                    <div class="alfa-pro-detail-wrapper">
                      <div id="product-detail-carousel" class="p-detail-wrap owl-carousel comman-nav owl-nav-display">
                        <% if (proImages.length> 0) { %>
                          <% proImages.forEach(function(p_image, index) { %>
                            <div class="d-item" data-index="<%= index %>">
                              <img src="<%= p_image.p_images %>" data-zoom-image="<%= p_image.p_images %>"
                                class="pd-img" alt="" />
                            </div>
                            <% }); %>
                              <% } else { %>
                                <div class="d-item" data-index="0">
                                  <img src=".<%= p_image.p_images %>" data-zoom-image=".<%= p_image.p_images %>"
                                    alt="" />
                                </div>
                                <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="pro-detail--wrapper">
                  <div class="d-title">
                    <h1>
                      <%= proDetailData.p_name %>
                    </h1>
                    <p>
                      <%= proDetailData.p_desc %>
                    </p>
                  </div>
                  <div class="product-detail-feat">
                    <ul>
                      <li>
                        <div class="product-feat-point">
                          <h6 class="feat-sku">SKU</h6>
                          <span>:</span>
                          <h6>
                            <%= proDetailData.sku %>
                          </h6>
                        </div>
                      </li>
                      <li>
                        <div class="product-feat-point">
                          <h6 class="feat-sku">Category</h6>
                          <span>:</span>
                          <h6>

                          </h6>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="price-review-warapper">
                    <div class="product-rating">
                      <h6>
                        N/A
                        <span class="alfa-start"><i class="fa-solid fa-star"></i></span>
                      </h6>
                      <div class="border-width"></div>
                      <span class="review-count">
                        0 Customer Review
                      </span>
                    </div>
                    <div class="product--price">
                      <h5>
                        <span class="final-prices fn-price">£<%= proDetailData.p_main_price %> </span><span
                          class="mrp-price prod-dd">
                          £89.95</span>

                      </h5>
                    </div>
                  </div>

                  <div class="product-color-list product--color">
                    <div class="pro--text">
                      <h6 style="color: #9f9f9f; font-size: 13px">

                      </h6>
                    </div>
                    <div class="pro--text">
                      <h6 class="size-selection">
                        Colour
                      </h6>
                    </div>
                    <ul class="detail-ul">

                      <li>
                        <a href="">
                          <img class="variant-img" src="<%= proDetailData.p_image %>" alt="">
                        </a>
                      </li>

                    </ul>
                  </div>

                  <div class="product-size-list">
                    <div class="pro--text">
                      <h6 class="size-selection">Select Size</h6>
                    </div>
                    <ul class="flex gap-4">
                      <% sizes.forEach(size=> { %>
                        <li class="relative" style="position: relative;">
                          <button class="size-button 
                                    <% if (size.quantity === 0) { %> size-disabled <% } else { %> bg-gray-100 <% } %>"
                            data-size="<%= size.size %>" data-quantity="<%= size.quantity %>" data-selected="false" <%
                            if (size.quantity===0) { %> disabled <% } %>
                              <% if (size.quantity < 5) { %>
                                <%= size.quantity %> items available" <% } %>
                                    >
                                    <%= size.size %>
                          </button>
                          <% if (size.quantity> 0 && size.quantity < 5) { %>
                              <div class="size-popup">
                                   <%= size.quantity %> Left
                              </div>
                              <% } %>
                        </li>
                        <% }); %>
                    </ul>
                    <input type="hidden" id="selected-size" name="selected_size" value="">
                  </div>

                  <div class="product--button-wrapper">
                    <div class="cart-quantity-wrapper d-none">
                      <div class="left-input">
                        <span class="decrement"><i class="fa-solid fa-minus"></i></span>
                      </div>
                      <div class="cart-quantity">
                        <input type="text" name="product_quantity" value="1" class="cart-value">
                      </div>
                      <div class="right-input">
                        <span class="increment"><i class="fa-solid fa-plus"></i></span>
                      </div>
                    </div>

                    <div class="pro-btn-flex">
                      <button type="button" class="cart-btn add-to-cart" id="addToCart">
                        <span><i class="fa-solid fa-cart-shopping"></i></span>
                        Add to Cart
                      </button>

                      <button type="button" class="cart-btn buy-now" id="addToWishList">
                        Add to Wishlist
                      </button>

                    </div>
                  </div>

                  <input type="hidden" name="product_id" value="<%= proDetailData.id %> ">
                  <input type="hidden" name="product_name" value="<%= proDetailData.p_name %> ">
                  <input type="hidden" name="product_price" value="<%= proDetailData.p_main_price %> ">
                  <input type="hidden" name="quantity" value="1">
                  <input type="hidden" name="product_image" value="<%= proDetailData.p_image %>">

                </div>
              </div>
            </div>
          </div>

          <!-- Accordion -->
          <div class="container">
            <div class="accordion">
              <div class="accordion-items">
                <div class="accordion-item-header">Product Information</div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">

                  </div>
                </div>
              </div>
              <div class="accordion-items">
                <div class="accordion-item-header">Shipping Information</div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">

                  </div>
                </div>
              </div>
              <div class="accordion-items">
                <div class="accordion-item-header">Return Policy</div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Review -->
          <div class="container">
            <div class="review-warapper position-relative">
              <div class="review-header">
                <div class="review-badge">
                  <h5>Ratings <span class="review-span"><i class="fa-solid fa-star review-start"></i></span></h5>
                </div>
                <div class="review-rating-wrapper">
                  <div class="rating-count">
                    <div class="total-rating">
                      <h4>
                        0 <span class="review-span count-str"><i class="fa-solid fa-star count-start"></i></span>
                      </h4>
                      <p>
                        0 &nbsp;Verified Buyers
                      </p>
                    </div>
                  </div>


                  <div class="review-rating-progress">

                    <div class="rating-count-ravegrage">
                      <div class="rate_and_start">
                        5 <span><i class="fa-solid fa-star pro-start"></i></span>
                      </div>
                      <div class="rating-progress">
                        <div class="rating-bar" style="width: NaN%; background: #14958f;">
                          <p class="rating-percent"></p>
                        </div>
                      </div>
                      <div class="total-idivitual-review">
                        <span>
                          0
                        </span>
                      </div>
                    </div>

                    <div class="rating-count-ravegrage">
                      <div class="rate_and_start">
                        4 <span><i class="fa-solid fa-star pro-start"></i></span>
                      </div>
                      <div class="rating-progress">
                        <div class="rating-bar" style="width: NaN%; background: #72bfbc;">
                          <p class="rating-percent"></p>
                        </div>
                      </div>
                      <div class="total-idivitual-review">
                        <span>
                          0
                        </span>
                      </div>
                    </div>

                    <div class="rating-count-ravegrage">
                      <div class="rate_and_start">
                        3 <span><i class="fa-solid fa-star pro-start"></i></span>
                      </div>
                      <div class="rating-progress">
                        <div class="rating-bar" style="width: NaN%; background: #fcb301;">
                          <p class="rating-percent"></p>
                        </div>
                      </div>
                      <div class="total-idivitual-review">
                        <span>
                          0
                        </span>
                      </div>
                    </div>

                    <div class="rating-count-ravegrage">
                      <div class="rate_and_start">
                        2 <span><i class="fa-solid fa-star pro-start"></i></span>
                      </div>
                      <div class="rating-progress">
                        <div class="rating-bar" style="width: NaN%; background: #f16565;">
                          <p class="rating-percent"></p>
                        </div>
                      </div>
                      <div class="total-idivitual-review">
                        <span>
                          0
                        </span>
                      </div>
                    </div>

                    <div class="rating-count-ravegrage">
                      <div class="rate_and_start">
                        1 <span><i class="fa-solid fa-star pro-start"></i></span>
                      </div>
                      <div class="rating-progress">
                        <div class="rating-bar" style="width: NaN%; background: #d9534f;">
                          <p class="rating-percent"></p>
                        </div>
                      </div>
                      <div class="total-idivitual-review">
                        <span>
                          0
                        </span>
                      </div>
                    </div>

                  </div>

                </div>
                <hr>
                <div class="review-content-wrapper">
                  <div class="review-content-head">
                    <h4>Customer Reviews (0)</h4>
                  </div>
                  <div class="rivew-row mt-3">
                    <!-- Display individual reviews -->


                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->
          <section class="mt-80 mb-60">
            <div class="custom-container">
              <div class="alfa-bestsellerl">
                <div class="alfa-title">
                  <h3>You may also like</h3>
                </div>
                <div id="bestseller-carousel" class="bestseller-wrapper owl-carousel comman-nav">
                  <% bestSellerData.forEach(product=> { %>
                    <div class="product-item product-item-2">
                      <a href="/product-detail/<%= product.p_url %>/<%= product.id %>">
                        <div class="produt-wrap">
                          <img src="<%= product.p_image %>" class="pro-img" alt="">
                        </div>
                        <div class="product-details">
                          <div class="product-nameprice">
                            <h6 style="color: #000;">
                              <%= product.p_name %>
                            </h6>
                            <div class="product-price">
                              <!-- <span class="final-price">£<%= (product.product_price * (1-product.discount_on_product /
                                  100)).toFixed(2) %></span> -->
                              <span class="final-price">£<%= product.p_main_price %></span>
                              <span class="discount-text"> </span>
                            </div>
                            <div class="product-rating d-none">
                              <ul>
                                <li>
                                  <img src="assets/images/star.png" class="star-icon" alt="">
                                  <img src="assets/images/star.png" class="star-icon" alt="">
                                  <img src="assets/images/star.png" class="star-icon" alt="">
                                  <img src="assets/images/star.png" class="star-icon" alt="">
                                  <img src="assets/images/star.png" class="star-icon" alt="">
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="product-btn">
                            <div class="pro-whishlist">
                              <a class="add-to-favorites" data-product-id="<%= product.id %>">
                                <i class="fa-regular fa-heart"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <% }) %>
                </div>

              </div>
            </div>
          </section>

        </div>
      </div>
      <%- include('includes/footer') %>
  </div>

  <%- include('includes/foot') %>
  <script src="assets/js/cart.js"></script>
    <script>
     document.getElementById('addToWishList').addEventListener('click', function (e) {
    e.preventDefault();


    let productData = {
        product_id: document.querySelector('input[name="product_id"]').value,
        product_name: document.querySelector('input[name="product_name"]').value,
        product_price: document.querySelector('input[name="product_price"]').value,
        quantity: document.querySelector('input[name="quantity"]').value,

        product_image: document.querySelector('input[name="product_image"]').value,
    };

        fetch('/add-to-wishlist', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(productData),
        })
            .then((response) => {
                if (response.status === 401) {
                    window.location.href = '/login';
                    return;
                }
                return response.json();
            })
            .then((data) => {
                if (data.success) {
                    window.location.href = '/my-wishlist';
                } else {
                    alert('Failed to add product to wishlist.');
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });

    </script>

    <script>
      $(document).ready(function () {
        var $carousel = $('#product-detail-carousel');
        var selectedItem = null;

        // Initialize Owl Carousel
        $carousel.owlCarousel({
          items: 1,
          nav: true,
          dots: true,
          loop: true
        });

        $('.image-item').on('click', function () {
          var index = $(this).data('index');

          if (selectedItem) {
            selectedItem.find('img').removeClass('selected');
          }

          // Add the 'selected' class to the clicked image
          $(this).find('img').addClass('selected');
          selectedItem = $(this);

          // Trigger the Owl Carousel to move to the selected item
          $carousel.trigger('to.owl.carousel', [index, 300]);

          // Change the zoom image source in the carousel
          var zoomImage = $(this).find('img').attr('src');
          var $currentCarouselImage = $carousel.find('.owl-item').eq(index).find('.pd-img');
          $currentCarouselImage.attr('data-zoom-image', zoomImage).elevateZoom({
            zoomType: "lens",
            lensShape: "round",
            lensSize: 250,
            zIndex: 9999
          });
        });

        // Initialize zoom for the first image in the carousel
        $carousel.find('.pd-img').first().elevateZoom({
          zoomType: "lens",
          lensShape: "round",
          lensSize: 250,
          zIndex: 9999
        });

        $carousel.on('changed.owl.carousel', function (event) {
          var current = $carousel.find('.owl-item').eq(event.item.index).find('.pd-img');
          var zoomImage = current.attr('data-zoom-image');
          $('.zoomContainer').remove();
          current.elevateZoom({
            zoomType: "lens",
            lensShape: "round",
            lensSize: 250,
            zIndex: 9999
          });
        });
      });

    </script>

</body>

</html>